html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.app-serif{font-family:serif}.app-sans-serif{font-family:sans-serif}.app-cursive{font-family:cursive}.app-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.app-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.app-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.app-table,.app-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.app-table-all{border:1px solid #ccc}
.app-bordered tr,.app-table-all tr{border-bottom:1px solid #ddd}.app-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.app-table-all tr:nth-child(odd){background-color:#fff}.app-table-all tr:nth-child(even){background-color:#f1f1f1}
.app-hoverable tbody tr:hover,.app-ul.app-hoverable li:hover{background-color:#ccc}.app-centered tr th,.app-centered tr td{text-align:center}
.app-table td,.app-table th,.app-table-all td,.app-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.app-table th:first-child,.app-table td:first-child,.app-table-all th:first-child,.app-table-all td:first-child{padding-left:16px}
.app-btn,.app-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.app-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.app-btn,.app-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.app-disabled,.app-btn:disabled,.app-button:disabled{cursor:not-allowed;opacity:0.3}.app-disabled *,:disabled *{pointer-events:none}
.app-btn.app-disabled:hover,.app-btn:disabled:hover{box-shadow:none}
.app-badge,.app-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.app-badge{border-radius:50%}
.app-ul{list-style-type:none;padding:0;margin:0}.app-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.app-ul li:last-child{border-bottom:none}
.app-tooltip,.app-display-container{position:relative}.app-tooltip .app-text{display:none}.app-tooltip:hover .app-text{display:inline-block}
.app-ripple:active{opacity:0.5}.app-ripple{transition:opacity 0s}
.app-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.app-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.app-dropdown-click,.app-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.app-dropdown-hover:hover .app-dropdown-content{display:block}
.app-dropdown-hover:first-child,.app-dropdown-click:hover{background-color:#ccc;color:#000}
.app-dropdown-hover:hover > .app-button:first-child,.app-dropdown-click:hover > .app-button:first-child{background-color:#ccc;color:#000}
.app-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.app-check,.app-radio{width:24px;height:24px;position:relative;top:6px}
.app-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.app-bar-block .app-dropdown-hover,.app-bar-block .app-dropdown-click{width:100%}
.app-bar-block .app-dropdown-hover .app-dropdown-content,.app-bar-block .app-dropdown-click .app-dropdown-content{min-width:100%}
.app-bar-block .app-dropdown-hover .app-button,.app-bar-block .app-dropdown-click .app-button{width:100%;text-align:left;padding:8px 16px}
.app-main,#main{transition:margin-left .4s}
.app-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.app-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.app-bar{width:100%;overflow:hidden}.app-center .app-bar{display:inline-block;width:auto}
.app-bar .app-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.app-bar .app-dropdown-hover,.app-bar .app-dropdown-click{position:static;float:left}
.app-bar .app-button{white-space:normal}
.app-bar-block .app-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.app-bar-block.app-center .app-bar-item{text-align:center}.app-block{display:block;width:100%}
.app-responsive{display:block;overflow-x:auto}
.app-container:after,.app-container:before,.app-panel:after,.app-panel:before,.app-row:after,.app-row:before,.app-row-padding:after,.app-row-padding:before,
.app-cell-row:before,.app-cell-row:after,.app-clear:after,.app-clear:before,.app-bar:before,.app-bar:after{content:"";display:table;clear:both}
.app-col,.app-half,.app-third,.app-twothird,.app-threequarter,.app-quarter{float:left;width:100%}
.app-col.s1{width:8.33333%}.app-col.s2{width:16.66666%}.app-col.s3{width:24.99999%}.app-col.s4{width:33.33333%}
.app-col.s5{width:41.66666%}.app-col.s6{width:49.99999%}.app-col.s7{width:58.33333%}.app-col.s8{width:66.66666%}
.app-col.s9{width:74.99999%}.app-col.s10{width:83.33333%}.app-col.s11{width:91.66666%}.app-col.s12{width:99.99999%}
@media (min-width:601px){.app-col.m1{width:8.33333%}.app-col.m2{width:16.66666%}.app-col.m3,.app-quarter{width:24.99999%}.app-col.m4,.app-third{width:33.33333%}
.app-col.m5{width:41.66666%}.app-col.m6,.app-half{width:49.99999%}.app-col.m7{width:58.33333%}.app-col.m8,.app-twothird{width:66.66666%}
.app-col.m9,.app-threequarter{width:74.99999%}.app-col.m10{width:83.33333%}.app-col.m11{width:91.66666%}.app-col.m12{width:99.99999%}}
@media (min-width:993px){.app-col.l1{width:8.33333%}.app-col.l2{width:16.66666%}.app-col.l3{width:24.99999%}.app-col.l4{width:33.33333%}
.app-col.l5{width:41.66666%}.app-col.l6{width:49.99999%}.app-col.l7{width:58.33333%}.app-col.l8{width:66.66666%}
.app-col.l9{width:74.99999%}.app-col.l10{width:83.33333%}.app-col.l11{width:91.66666%}.app-col.l12{width:99.99999%}}
.app-rest{overflow:hidden}.app-stretch{margin-left:-16px;margin-right:-16px}
.app-content,.app-auto{margin-left:auto;margin-right:auto}.app-content{max-width:980px}.app-auto{max-width:1140px}
.app-cell-row{display:table;width:100%}.app-cell{display:table-cell}
.app-cell-top{vertical-align:top}.app-cell-middle{vertical-align:middle}.app-cell-bottom{vertical-align:bottom}
.app-hide{display:none!important}.app-show-block,.app-show{display:block!important}.app-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.app-auto{max-width:95%}}
@media (max-width:600px){.app-modal-content{margin:0 10px;width:auto!important}.app-modal{padding-top:30px}
.app-dropdown-hover.app-mobile .app-dropdown-content,.app-dropdown-click.app-mobile .app-dropdown-content{position:relative}	
.app-hide-small{display:none!important}.app-mobile{display:block;width:100%!important}.app-bar-item.app-mobile,.app-dropdown-hover.app-mobile,.app-dropdown-click.app-mobile{text-align:center}
.app-dropdown-hover.app-mobile,.app-dropdown-hover.app-mobile .app-btn,.app-dropdown-hover.app-mobile .app-button,.app-dropdown-click.app-mobile,.app-dropdown-click.app-mobile .app-btn,.app-dropdown-click.app-mobile .app-button{width:100%}}
@media (max-width:768px){.app-modal-content{width:500px}.app-modal{padding-top:50px}}
@media (min-width:993px){.app-modal-content{width:900px}.app-hide-large{display:none!important}.app-sidebar.app-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.app-hide-medium{display:none!important}}
@media (max-width:992px){.app-sidebar.app-collapse{display:none}.app-main{margin-left:0!important;margin-right:0!important}.app-auto{max-width:100%}}
.app-top,.app-bottom{position:fixed;width:100%;z-index:1}.app-top{top:0}.app-bottom{bottom:0}
.app-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.app-display-topleft{position:absolute;left:0;top:0}.app-display-topright{position:absolute;right:0;top:0}
.app-display-bottomleft{position:absolute;left:0;bottom:0}.app-display-bottomright{position:absolute;right:0;bottom:0}
.app-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.app-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.app-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.app-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.app-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.app-display-container:hover .app-display-hover{display:block}.app-display-container:hover span.app-display-hover{display:inline-block}.app-display-hover{display:none}
.app-display-position{position:absolute}
.app-circle{border-radius:50%}
.app-round-small{border-radius:2px}.app-round,.app-round-medium{border-radius:4px}.app-round-large{border-radius:8px}.app-round-xlarge{border-radius:16px}.app-round-xxlarge{border-radius:32px}
.app-row-padding,.app-row-padding>.app-half,.app-row-padding>.app-third,.app-row-padding>.app-twothird,.app-row-padding>.app-threequarter,.app-row-padding>.app-quarter,.app-row-padding>.app-col{padding:0 8px}
.app-container,.app-panel{padding:0.01em 16px}.app-panel{margin-top:16px;margin-bottom:16px}
.app-code,.app-codespan{font-family:Consolas,"courier new";font-size:16px}
.app-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.app-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.app-card,.app-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.app-card-4,.app-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.app-spin{animation:app-spin 2s infinite linear}@keyframes app-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.app-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.app-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.app-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.app-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.app-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.app-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.app-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.app-animate-input{transition:width 0.4s ease-in-out}.app-animate-input:focus{width:100%!important}
.app-opacity,.app-hover-opacity:hover{opacity:0.60}.app-opacity-off,.app-hover-opacity-off:hover{opacity:1}
.app-opacity-max{opacity:0.25}.app-opacity-min{opacity:0.75}
.app-greyscale-max,.app-grayscale-max,.app-hover-greyscale:hover,.app-hover-grayscale:hover{filter:grayscale(100%)}
.app-greyscale,.app-grayscale{filter:grayscale(75%)}.app-greyscale-min,.app-grayscale-min{filter:grayscale(50%)}
.app-sepia{filter:sepia(75%)}.app-sepia-max,.app-hover-sepia:hover{filter:sepia(100%)}.app-sepia-min{filter:sepia(50%)}
.app-tiny{font-size:10px!important}.app-small{font-size:12px!important}.app-medium{font-size:15px!important}.app-large{font-size:18px!important}
.app-xlarge{font-size:24px!important}.app-xxlarge{font-size:36px!important}.app-xxxlarge{font-size:48px!important}.app-jumbo{font-size:64px!important}
.app-left-align{text-align:left!important}.app-right-align{text-align:right!important}.app-justify{text-align:justify!important}.app-center{text-align:center!important}
.app-border-0{border:0!important}.app-border{border:1px solid #ccc!important}
.app-border-top{border-top:1px solid #ccc!important}.app-border-bottom{border-bottom:1px solid #ccc!important}
.app-border-left{border-left:1px solid #ccc!important}.app-border-right{border-right:1px solid #ccc!important}
.app-topbar{border-top:6px solid #ccc!important}.app-bottombar{border-bottom:6px solid #ccc!important}
.app-leftbar{border-left:6px solid #ccc!important}.app-rightbar{border-right:6px solid #ccc!important}
.app-section,.app-code{margin-top:16px!important;margin-bottom:16px!important}
.app-margin{margin:16px!important}.app-margin-top{margin-top:16px!important}.app-margin-bottom{margin-bottom:16px!important}
.app-margin-left{margin-left:16px!important}.app-margin-right{margin-right:16px!important}
.app-padding-small{padding:4px 8px!important}.app-padding{padding:8px 16px!important}.app-padding-large{padding:12px 24px!important}
.app-padding-16{padding-top:16px!important;padding-bottom:16px!important}.app-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.app-padding-32{padding-top:32px!important;padding-bottom:32px!important}.app-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.app-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.app-padding-top-64{padding-top:64px!important}.app-padding-top-48{padding-top:48px!important}
.app-padding-top-32{padding-top:32px!important}.app-padding-top-24{padding-top:24px!important}
.app-left{float:left!important}.app-right{float:right!important}
.app-button:hover{color:#000!important;background-color:#ccc!important}
.app-transparent,.app-hover-none:hover{background-color:transparent!important}
.app-hover-none:hover{box-shadow:none!important}
/* Colors */
.app-amber,.app-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.app-aqua,.app-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.app-blue,.app-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.app-light-blue,.app-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.app-brown,.app-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.app-cyan,.app-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.app-blue-grey,.app-hover-blue-grey:hover,.app-blue-gray,.app-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.app-green,.app-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.app-light-green,.app-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.app-indigo,.app-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.app-khaki,.app-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.app-lime,.app-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.app-orange,.app-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.app-deep-orange,.app-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.app-pink,.app-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.app-purple,.app-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.app-deep-purple,.app-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.app-red,.app-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.app-sand,.app-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.app-teal,.app-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.app-yellow,.app-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.app-white,.app-hover-white:hover{color:#000!important;background-color:#fff!important}
.app-black,.app-hover-black:hover{color:#fff!important;background-color:#000!important}
.app-grey,.app-hover-grey:hover,.app-gray,.app-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.app-light-grey,.app-hover-light-grey:hover,.app-light-gray,.app-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.app-dark-grey,.app-hover-dark-grey:hover,.app-dark-gray,.app-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.app-pale-red,.app-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.app-pale-green,.app-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.app-pale-yellow,.app-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.app-pale-blue,.app-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.app-text-amber,.app-hover-text-amber:hover{color:#ffc107!important}
.app-text-aqua,.app-hover-text-aqua:hover{color:#00ffff!important}
.app-text-blue,.app-hover-text-blue:hover{color:#2196F3!important}
.app-text-light-blue,.app-hover-text-light-blue:hover{color:#87CEEB!important}
.app-text-brown,.app-hover-text-brown:hover{color:#795548!important}
.app-text-cyan,.app-hover-text-cyan:hover{color:#00bcd4!important}
.app-text-blue-grey,.app-hover-text-blue-grey:hover,.app-text-blue-gray,.app-hover-text-blue-gray:hover{color:#607d8b!important}
.app-text-green,.app-hover-text-green:hover{color:#4CAF50!important}
.app-text-light-green,.app-hover-text-light-green:hover{color:#8bc34a!important}
.app-text-indigo,.app-hover-text-indigo:hover{color:#3f51b5!important}
.app-text-khaki,.app-hover-text-khaki:hover{color:#b4aa50!important}
.app-text-lime,.app-hover-text-lime:hover{color:#cddc39!important}
.app-text-orange,.app-hover-text-orange:hover{color:#ff9800!important}
.app-text-deep-orange,.app-hover-text-deep-orange:hover{color:#ff5722!important}
.app-text-pink,.app-hover-text-pink:hover{color:#e91e63!important}
.app-text-purple,.app-hover-text-purple:hover{color:#9c27b0!important}
.app-text-deep-purple,.app-hover-text-deep-purple:hover{color:#673ab7!important}
.app-text-red,.app-hover-text-red:hover{color:#f44336!important}
.app-text-sand,.app-hover-text-sand:hover{color:#fdf5e6!important}
.app-text-teal,.app-hover-text-teal:hover{color:#009688!important}
.app-text-yellow,.app-hover-text-yellow:hover{color:#d2be0e!important}
.app-text-white,.app-hover-text-white:hover{color:#fff!important}
.app-text-black,.app-hover-text-black:hover{color:#000!important}
.app-text-grey,.app-hover-text-grey:hover,.app-text-gray,.app-hover-text-gray:hover{color:#757575!important}
.app-text-light-grey,.app-hover-text-light-grey:hover,.app-text-light-gray,.app-hover-text-light-gray:hover{color:#f1f1f1!important}
.app-text-dark-grey,.app-hover-text-dark-grey:hover,.app-text-dark-gray,.app-hover-text-dark-gray:hover{color:#3a3a3a!important}
.app-border-amber,.app-hover-border-amber:hover{border-color:#ffc107!important}
.app-border-aqua,.app-hover-border-aqua:hover{border-color:#00ffff!important}
.app-border-blue,.app-hover-border-blue:hover{border-color:#2196F3!important}
.app-border-light-blue,.app-hover-border-light-blue:hover{border-color:#87CEEB!important}
.app-border-brown,.app-hover-border-brown:hover{border-color:#795548!important}
.app-border-cyan,.app-hover-border-cyan:hover{border-color:#00bcd4!important}
.app-border-blue-grey,.app-hover-border-blue-grey:hover,.app-border-blue-gray,.app-hover-border-blue-gray:hover{border-color:#607d8b!important}
.app-border-green,.app-hover-border-green:hover{border-color:#4CAF50!important}
.app-border-light-green,.app-hover-border-light-green:hover{border-color:#8bc34a!important}
.app-border-indigo,.app-hover-border-indigo:hover{border-color:#3f51b5!important}
.app-border-khaki,.app-hover-border-khaki:hover{border-color:#f0e68c!important}
.app-border-lime,.app-hover-border-lime:hover{border-color:#cddc39!important}
.app-border-orange,.app-hover-border-orange:hover{border-color:#ff9800!important}
.app-border-deep-orange,.app-hover-border-deep-orange:hover{border-color:#ff5722!important}
.app-border-pink,.app-hover-border-pink:hover{border-color:#e91e63!important}
.app-border-purple,.app-hover-border-purple:hover{border-color:#9c27b0!important}
.app-border-deep-purple,.app-hover-border-deep-purple:hover{border-color:#673ab7!important}
.app-border-red,.app-hover-border-red:hover{border-color:#f44336!important}
.app-border-sand,.app-hover-border-sand:hover{border-color:#fdf5e6!important}
.app-border-teal,.app-hover-border-teal:hover{border-color:#009688!important}
.app-border-yellow,.app-hover-border-yellow:hover{border-color:#ffeb3b!important}
.app-border-white,.app-hover-border-white:hover{border-color:#fff!important}
.app-border-black,.app-hover-border-black:hover{border-color:#000!important}
.app-border-grey,.app-hover-border-grey:hover,.app-border-gray,.app-hover-border-gray:hover{border-color:#9e9e9e!important}
.app-border-light-grey,.app-hover-border-light-grey:hover,.app-border-light-gray,.app-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.app-border-dark-grey,.app-hover-border-dark-grey:hover,.app-border-dark-gray,.app-hover-border-dark-gray:hover{border-color:#616161!important}
.app-border-pale-red,.app-hover-border-pale-red:hover{border-color:#ffe7e7!important}.app-border-pale-green,.app-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.app-border-pale-yellow,.app-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.app-border-pale-blue,.app-hover-border-pale-blue:hover{border-color:#e7ffff!important}
.app { margin: 100px auto; min-width: 600px; max-width: 800px;}
.app table thead th {cursor: pointer;}
.app table tbody tr td {min-width: 133px;}